@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: Montserrat;
    background-color: #23304C;
    border: 1px solid lightblue;
    margin: 0px;
    width: 100%;
    height: 900px;
    position: relative;

}

// header {
//     position: absolute;
//     top:0px;
//     left: 0px;
//     justify-self: flex-start;

// }

.container-fluid {
    height: 5rem;
    margin-left: 5%;

}

// .navbar-nav {
//     align-items: center;
// }

.navbar {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-decoration: none;
    height: 8rem;
    margin-left: 0px;
    justify-content: flex-end;
     
}

.show {
    z-index: 4;
    
    li:nth-child(5) {
        display: none;
    }
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
.navbtn {
    border: 3px solid rgba(255, 255, 255, 0.671);
    box-shadow: none;
    margin-left: 3rem;
}

.button{
    z-index: 4;
    border: none;
    background: #0A889A;
    border-radius: 27px; 
    height: 55px;
    width: 186px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14.04px;
    font-style: normal;
    letter-spacing: 0.08em;
}


.hero {
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 396px;
    height: 268px;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: 20%;
    h1 {
        text-align: left;
        z-index: 5;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 131.7%;
        letter-spacing: 0.01em;
    }
}

.page_vector {
    // z-index: ;
    position: absolute;
    width: 477.14px;
    height: 586px;
    top: 170px;
    right: 55%;
    margin-left: 10%;


}

.circle_vectors {
    z-index: -3;
    position: absolute;
    top: 165px;
    right: 55px;
    // width: 92%;
    width: 1342px;
    height: 642px;
}


.bottom_stripes {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.lines_vector {
    z-index: -4;
    position: absolute;
    top: 149.5px;
    right: 100px;


}


.box_vector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

}

.box1 {
    position: absolute;
    width: 56px;
    height: 54px;
    left: 38px;
    top: 506px;
    display: none;

}

.box2 {
    position: absolute;
    left: 1287px;
    top: 202px;
    display: none;

}

.box3 {
    position: absolute;
    width: 58px;
    height: 54px;
    left: 417px;
    top: 756px;
    display: none;
}

.galaxy_vector {
    z-index: -4;
    position: absolute;
    right: 0px;
    bottom: 0px;
}


@media(min-width: 300px ) {

    .page_vector {
        opacity: 20%;
    }

    .hero { 
        margin-left: 5%; 
        width: 300px; 
        h1 {
            font-size: 28px;
        }
    }
    .galaxy_vector {
        width: 430px;
    }
    .lines_vector {
        width: 600px;
        right: 50px;
    }

}

// tablets
@media (min-width: 600px) {
    .page_vector {
        opacity: 30%;
    }

    .hero { 
       margin-left: auto;
       width: 396px; 
       
        h1 {
            font-size: 40px;
        }
    }
    .galaxy_vector {
        width: 75%;
    }
    .lines_vector {
        top: 15%;
        width: 100%;
        right: 9%;
    }
}


@media(min-width: 1200px ) {
    .page_vector{
        opacity: 100%;
    }

    .galaxy_vector {
        width: 877px;
    }
    .lines_vector {
        top: 149.5px;
        width: 1245px;
        right: 100px;
    }
    
}